-
    var listCharacter = ['seiya','shiryu','hyoga','shun','ikki'];
doctype html
html(lang="fr" class="no-js")
    head
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible",content="ie=edge")
        meta(name="description",content="Saint Seiya Bronze Saints One Page")
        meta(name="viewport",content="width=device-width, initial-scale=1")
        title Saint Seiya Bronze Saints
        link(rel="stylesheet",href="assets/css/style.min.css")
    body
        //div(class="div",style="position:fixed;z-index:100000000000;top:0;right:0;bottom:0;left:0;color:#fff;background:#000;width:100%;height:100%;text-align:center;padding-top:150px;")
            //- for (var i = 0; i < listCharacter.length; i++)
                //a(href="#{listCharacter[i]}.html", class='btn #{listCharacter[i]}',data-knight="#{listCharacter[i]}")
                    //| #{listCharacter[i]}
        //div(class="div2",style="color:#fff;font-size:20px;z-index: 111111111111111111111;position: fixed;")
            //| {{me}}
        main.main
            header#header
                nav(id="nav",role="navigation")
                    ul.menu
                        - for (var i = 0; i < listCharacter.length; i++)
                          li(class="menu__item #{listCharacter[i]}",data-name="#{listCharacter[i]}")
                            a(href="#{listCharacter[i]}.html",class="menu__link")
                                h2.character= listCharacter[i]
                                img(class="menu__link__img",src="assets/img/menu/#{listCharacter[i]}.png",alt="#{listCharacter[i]} pic")
        script(src="assets/js/main.min.js")
        
    
